.calender {
  width: calc(100% - 20px);
  min-height: 270px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--background-calender);
  box-shadow: var(--box-shadow-calender);
}

.calender__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 5px;
}

@media screen and (min-width: 500px) {
  .calender {
    width: 230px;
    margin: initial;
  }
}
