@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --backgroun-body: #eeeeee;
  --background-calender: white;
  --background-active-day: rgba(255, 133, 27, 0.5);
  --background-btn-day: transparent;
  --background-btn-selected: rgba(0, 116, 217, 0.5);
  --background-card: white;
  --box-shadow-calender: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --color-active-day: white;
  --color-actual-day: #555555;
  --color-default-button: #555555;
  --color-calender-month-year: #ff851b;
  --color-names-week: #555555;
  --color-not-current-days: #cccccc;
  --color-btn-selected: white;
  --color-card-text: #555555;
  --font-family-roboto: 'Roboto', sans-serif;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: calc(100vh - 20px);
  background-color: var(--backgroun-body);
  font-size: 1.6rem;
  font-family: var(--font-family-roboto);
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: inherit;
}

@media screen and (min-width: 500px) {
  body {
    padding: 10px;
  }
}
